@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.people {
  display: grid;
  grid-gap: toRem(32);
  grid-template-columns: repeat(auto-fill, toRem(292));
}

.message {
  grid-column: 1 / -1;
  background-color: var(--colorWhite);
  color: var(--colorStormGray);
  padding: 1rem;
  border-radius: 1.5rem;
  text-align: center;
}
