.body {
  min-height: 50vh;
  background-color: var(--center-body-bg-color);
  padding: var(--10px);
}

.main-left {
  height: auto;
  max-height: var(--container-height);
}

.main-center {
  height: auto;
  min-height: var(--container-min-height);
}

.main-right {
  height: auto;
  max-height: var(--container-height);
}

h1 {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color-pale-green);
  min-height: 25px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color-pale-blue);
  min-height: 25px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color-pale-green);
  min-height: 25px;
}

@media screen and (--webkit-min-device-pixel-ratio: 0) {
  input, select, textarea {
    font-size: 16px !important;
    line-height: 1.3 !important;
  }
}

@media screen and (min-device-aspect-ratio: 16/9) {
  input, select, textarea {
    font-size: 16px !important;
    line-height: 1.3 !important;
  }
}

