.main-footer{
    background: url("images/footer-wallpaper.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.footer {
    background-color: var(--app-bg-footer);
    color: var(--footer-text-color);
}