.base-gimic {
  -webkit-text-stroke: 1px var(--app-text-color);
  text-shadow: 3px 3px var(--app-text-color);
  text-transform: uppercase;
  word-spacing: .1em;
  width: fit-content;
  margin-bottom: 0;
  font-size: 2.5em;
}

.red-gimic-text {
  color: lch(56.82% 63.37 26.6);

}

.yellow-gimic-text {
  color: lch(85.75% 54.35 89.02);
}

.green-gimic-text {
  color: lch(78.08% 73.55 115.47);
}