
input[type=text], input[type=email], input[type=number], select, input[type=button], input[type=submit], input[type=reset] {
  padding: 10px;
  margin: 4px 0;
  box-sizing: border-box;
  border: 1px solid black;
  width: 100%;
}

input::after, input::before, .MuiInputBase-input::after {
  border: unset;
  border-color: unset;
}

textarea {
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid var(--app-bg-color);
  border-radius: 4px;
  resize: none;
}


input[type=button], input[type=submit], input[type=reset] {
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
