@media (max-width: 720px) {

  .desktop-only {
    display: none !important;
  }

  div {
    width: 100%;
  }

  .mrow {
    flex-direction: row;
  }

  .mcol {
    flex-direction: column;
  }

  .mwid10 {
    width: 10%;
  }

  .mwid20 {
    width: 20%;
  }

  .mwid30 {
    width: 30%;
  }

  .mwid40 {
    width: 40%;
  }

  .mwid50 {
    width: 50%;
  }

  .mwid60 {
    width: 60%;
  }

  .mwid70 {
    width: 70%;
  }

  .mwid80 {
    width: 80%;
  }

  .mwid90 {
    width: 90%;
  }

  .mwid100 {
    width: 100%;
  }

  .min-height-450 {
    min-height: 450px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  .msize12 {
    font-size: 12px;
  }

  .msize14 {
    font-size: 14px;
  }

  .msize16 {
    font-size: 16px;
  }

  .msize20 {
    font-size: 20px;
  }

  .msize24 {
    font-size: 24px;
  }

  .msize30 {
    font-size: 30px;
  }

  .msize38 {
    font-size: 38px;
  }

  .msize48 {
    font-size: 48px;
  }

  .mflex-center {
    justify-content: center;
  }

  .mflex-start {
    justify-content: flex-start;
  }

  .mflex {
    display: flex !important;
  }

  .mflex-end {
    justify-content: flex-end;
  }

  .malign-center {
    align-items: center;
    text-align: center;
  }

  .mleft {
    text-align: left;
    align-items: flex-start;
  }

  .mright {
    text-align: right;
    align-items: flex-end;
  }

  .bg-header {
    /*background-color: var(--bg-color-light-blue);*/
  }

  .m-footer-badge {
    gap: 1px;
  }

  .mgrid {
    display: grid;
  }

  .mgrid-auto {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .mgrid2x2 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .mgrid3x3 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .mgrid4x4 {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }

  .mautofit120 {
    grid-template-columns: repeat(auto-fit, 120px) !important;
  }

  .mautofit150 {
    grid-template-columns: repeat(auto-fit, 150px) !important;
  }

  .mautofit200 {
    grid-template-columns: repeat(auto-fit, 200px) !important;
  }

  .mautofit250 {
    grid-template-columns: repeat(auto-fit, 250px) !important;
  }

  .mautofill120 {
    grid-template-columns: repeat(auto-fill, 120px) !important;
  }

  .mautofill150 {
    grid-template-columns: repeat(auto-fill, 150px) !important;
  }

  .mautofill200 {
    grid-template-columns: repeat(auto-fill, 200px) !important;
  }

  .mautofill250 {
    grid-template-columns: repeat(auto-fill, 250px) !important;
  }

}