:root {
    --container-height: 750px;
    --border-color: gray;
    --app-text-color: #484242;
    --app-bg-left-color: white;
    --app-bg-center-color: white;
    --app-bg-right-color: white;
    --app-bg-header: #9fd1f8;
    --app-bg-footer: aliceblue;
    --app-font-color: #363535;
    --footer-text-color: #484242;
    --acitve-link-bg-color: #e96f6b;
    --acitve-link-text-color: white;
    --color-red: lch(42.758% 73.588 34.159);
    --color-yellow: #f2d258;
    --color-green: #5ac72b;
    --color-violet: #5838be;
    --color-white: white;
}
