:root {
    --border-color: gray;
    --app-text-color: #484242;
    --app-bg-left-color: white;
    --app-bg-center-color: white;
    --app-bg-right-color: white;
    --app-bg-header: #9fd1f8;
    --app-bg-footer: aliceblue;
    --app-font-color: #363535;
    --footer-text-color: #484242;
    --acitve-link-bg-color: #e96f6b;
    --acitve-link-text-color: white;
}
