ul {
    padding: 0 0 0 5px;
}

ul li {
    list-style: none;
}

ul li a {
    color: #000;
    text-decoration: none;
}

.nav-link {
    padding: 5px;
}

.active-link {
    background-color: var(--acitve-link-bg-color);
    color: var(--acitve-link-text-color);
}