
.border {
    border: 1px solid var(--border-color);
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.basis {
    flex-basis: auto;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

.grow {
    flex-grow: 1;
}

.shrink {
    flex-shrink: 1;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.col {
    flex-direction: column;
}

.col-reverse {
    flex-direction: column-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-even {
    justify-content: space-evenly;
}

.grid {
    display: grid;
}

.grid2x2 {
    grid-template-columns: 1fr 1fr;
}

.grid3x3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid4x4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-auto {
    grid-template-columns: repeat(auto-fit, 1fr);
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.overflow {
    overflow: auto;
}

.gap1 {
    gap: 12px;
}

.gap2 {
    gap: 20px;
}

.gap5 {
    gap: 30px;
}

.gap10 {
    gap: 40px;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad20 {
    padding: 20px;
}

.margin10 {
    margin: 10px;
}

.margin20 {
    margin: 20px;
}

.margin--x-10 {
    margin: 0 10px 0 10px;
}

.margin--y-10 {
    margin: 10px 0 10px 0;
}

.margin--x-20 {
    margin: 0 20px 0 20px;
}

.margin--y-20 {
    margin: 20px 0 20px 0;
}

.wid10 {
    width: 10%;
}

.wid20 {
    width: 20%;
}

.wid30 {
    width: 30%;
}

.wid40 {
    width: 40%;
}

.wid50 {
    width: 50%;
}

.wid60 {
    width: 60%;
}

.wid70 {
    width: 70%;
}

.wid80 {
    width: 80%;
}

.wid90 {
    width: 90%;
}

.wid100 {
    width: 100%;
}

.height100p {
    height: 100%;
}

.height100 {
    height: 100px;
}

.height150 {
    height: 150px;
}

.height200 {
    height: 200px;
}

.height300 {
    height: 300px;
}

.height450 {
    height: 450px;
}

.flex-center {
    justify-content: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
    text-align: center;
}

.left {
    text-align: left;
    align-items: flex-start;
}

.right {
    text-align: right;
    align-items: flex-end;
}

.size12 {
    font-size: 12px;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.size20 {
    font-size: 20px;
}

.size24 {
    font-size: 24px;
}

.size30 {
    font-size: 30px;
}

.size38 {
    font-size: 38px;
}

.size48 {
    font-size: 48px;
}

.glass {
    background: rgba(241, 241, 241, 0.65);
    width: inherit;
    height: inherit;
}
