@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.str-chat__message-attachment-actions {
  &-form {
    width: 100%;
    margin: toRem(4) 0;
    padding: 0;
    display: flex;
  }

  &-button {
    @extend %tagBold;
    flex: 1;
    border: none;
    background: none;
    margin: 0 toRem(4);
    padding: toRem(8) toRem(16);
    height: toRem(32);
    border-radius: toRem(44);
    outline: none;

    &--primary {
      background-color: var(--colorMandy);
      color: var(--colorWhite);
    }

    &--default {
      border: toRem(2) solid var(--colorMandy);
      color: var(--colorMandy);
    }
  }
}
