@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.str-chat__message-replies-count-button {
  @extend %smallLabel;
  display: block;
  border: none;
  background: none;
  padding: 0;
  margin: toRem(4) toRem(4) toRem(4) toRem(20);
  color: var(--colorMandy);
  cursor: pointer;
  text-align: left;

  svg {
    fill: var(--colorWaterloo);
    margin-right: toRem(4);
  }
}
