@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.input-ui {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: end;
  grid-gap: toRem(24);
  border-top: toRem(1) solid var(--colorMischka);
  background: var(--colorAthensGrey);
  min-height: toRem(88);
  padding: toRem(14) toRem(28);

  &-icons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
    grid-gap: toRem(16);
    margin-bottom: toRem(16);
  }

  &-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 60px;
    height: fit-content;
    padding: 0;
    flex: none;
    flex-grow: 1;
    transition: border-color var(--colorTransitionDuration) ease;

    &-textarea {
      display: flex;
      width: 100%;
      padding: 0;
    }

    &-emoji-picker {
      .cooldown {
        fill: var(--colorDisabled);
      }
    }

    &.giphy {
      display: grid;
      grid-template-columns: auto 1fr;
      justify-content: start;
      align-items: center;
      grid-gap: toRem(6);
    }
  }

  &-send {
    position: absolute;
    right: toRem(36);
    bottom: toRem(22);
    width: auto;

    svg {
      path {
        fill: var(--colorWhite);
      }
    }

    &.text {
      &:hover {
        cursor: pointer;
      }
    }

    &-cooldown {
      background-color: var(--colorDisabled);
      height: 40px;
      width: 48px;
      border-radius: 9999px;
      position: relative;

      :first-child {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--colorDisabled);
        color: var(--colorWhite);
      }
    }
  }
}

.str-chat__textarea {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;

  textarea {
    min-height: 60px;
    background: var(--colorWhite);
    padding: toRem(20) toRem(128) toRem(20) toRem(24);
    border: toRem(1) solid var(--colorMischka);
    border-radius: toRem(34);
  }
}

.str-chat__textarea textarea:focus {
  border-color: var(--colorJava);
}

.str-chat__input--emojipicker {
  position: absolute;
  left: toRem(24);
  right: auto;
  bottom: toRem(64);
}

.emoji-mart {
}

.rfu-dropzone {
  width: -webkit-fill-available;
}

.rfu-image-previewer,
.rfu-image-previewer-angular-host,
.rfu-file-previewer {
  border: 0;
  border-top: toRem(1) solid var(--colorMischka);
  margin: 0;
  background: var(--colorAthensGrey);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: start;
  padding: toRem(12) toRem(20);
  grid-gap: toRem(12);
  border-radius: 0;

  &__image {
    width: 60px !important;
    height: 60px !important;
    margin: 0;

    .rfu-thumbnail__wrapper {
      width: 60px !important;
      height: 60px !important;
      border-radius: toRem(12);

      .rfu-thumbnail__overlay,
      .rfu-icon-button {
        padding: 0;

        svg {
          opacity: 0.9;
          height: toRem(24);
          width: toRem(24);
        }
      }
    }
  }

  & ol &__file {
    padding: toRem(8);
    background: var(--colorWhite);
    border-radius: toRem(12);

    svg {
      opacity: 0.9;
      height: toRem(20);
      width: toRem(20);
    }
  }

  .rfu-thumbnail-placeholder {
    width: 60px;
    height: 60px;
    border-radius: toRem(12);
  }
}

.rta__autocomplete.str-chat__emojisearch {
  position: absolute;
  left: 0;
  bottom: toRem(68);
  z-index: 999;
  background: var(--colorSteelGrey);
  border-radius: toRem(22);
  padding: toRem(12);
  color: var(--colorWhite);
}

.rta__list-header {
  display: none;
}

.str-chat__slash-command-header {
  @extend %bodyMedium;
  color: var(--colorWhite);
}
.str-chat__slash-command-description {
  @extend %smallLabel;
  color: var(--colorWhite);
}

.thread-footer {
  display: flex;
  padding: 0 0 12px 12px;
  align-items: center;
  background: var(--colorWaterloo);
  transition: background 1s;

  &-text {
    font-size: 13px;
    margin-left: 8px;
    color: var(--colorSteelGrey);
  }

  &-checkbox {
    height: 16px;
    width: 16px;
    margin: 0;
  }
}

// Quoted Message Reply
.quoted-message-preview {
  display: flex;
  align-items: flex-end;
  margin: 10px 16px 8px;

  &-header {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin: 10px 0;
    position: relative;

    .str-chat__square-button {
      position: absolute;
      right: -40px;
      top: -2px;
      margin: unset;
      padding: var(--xs-p);
      border-radius: var(--border-radius);
      cursor: pointer;

      svg {
        fill: var(--colorSteelGrey);
      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-end;
    font-size: 13px;
    background: var(--colorWhite);
    border: 1px solid var(--colorGray);
    border-radius: 8px 8px 8px 0;
    padding: 7px 8px 5px;
    margin-left: 8px;
    overflow: auto;

    &-inner {
      display: flex;
      text-align: start;
      align-items: flex-start;

      .str-chat__message-attachment {
        margin: 0;

        &--image {
          display: flex;
          max-width: 36px;
          height: 36px;
        }

        &--img {
          border-radius: 8px;
        }
      }

      :nth-child(2) {
        margin-left: 8px;
      }
    }
  }
}

// Edit Message
.str-chat__modal__inner {
  width: 424px;
  height: 88px;
  opacity: 1;

  svg {
    &:hover {
      cursor: pointer;
    }
  }

  .edit-header {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    position: relative;

    button {
      border-radius: 24px;
      position: relative;
      right: -137px;

      svg {
        fill: var(--colorSteelGrey);
      }
    }
  }

  .input-ui {
    border: none;
  }
}

div.str-chat__modal__inner {
  padding: 8px 0 0;
  border-radius: unset;
}
