@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

$threadWidth: toRem(410);

.str-chat__thread {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
  background: var(--colorWhisperGray);
  flex: 1 0 $threadWidth;
  min-width: $threadWidth;
  max-width: $threadWidth;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  &--full {
    max-width: 100%;
  }

  &-header {
    position: relative;
    width: 100%;
    height: 70px;
    min-height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 toRem(16);

    &-details {
      &-replies {
        @extend %bodyMedium;
        color: var(--colorWaterloo);
      }
    }
  }

  &-start {
    border-radius: toRem(34);
    margin: toRem(4) toRem(4) 0 toRem(4);
    padding: toRem(4);
    text-align: center;
  }

  &-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: toRem(16);

    .str-chat__list {
      padding: 0;
    }

    .str-chat__message:first-of-type .str-chat__message-inner {
      margin-left: unset;
      margin-right: unset;
      width: 100%;
    }

    .str-chat__message-attachment.str-chat__message-attachment {
      &--file {
        border-radius: toRem(34);
        border-bottom: 1px solid var(--colorMischka);
      }

      &--media {
        width: 100%;
      }
    }

    .quoted-message {
      display: flex;
      align-items: flex-end;
      margin-bottom: toRem(4);

      &-inner {
        display: flex;
        text-align: start;
        align-items: flex-end;
        background: var(--colorMischka);
        border-radius: toRem(12) toRem(12) toRem(12) 0;
        max-width: 408px;
        padding: toRem(4) toRem(4);

        .str-chat__message-attachment.str-chat__message-attachment--file {
          display: none;
        }

        .str-chat__message-attachment-card.str-chat__message-attachment-card--image {
          border-radius: unset;
        }

        .str-chat__message-attachment.str-chat__message-attachment--card {
          border: none;
          border-radius: toRem(34);
        }

        .str-chat__message-attachment {
          &--image:first-of-type {
            max-height: 48px;
            max-width: 48px;
          }

          img {
            border-radius: toRem(34);
          }
        }

        :nth-child(2) {
          margin-left: toRem(4);
        }
      }
    }

    .quoted-message.mine {
      .quoted-message-inner {
        background: var(--colorWhite);
      }
    }
  }

  .input-ui {
    background: var(--colorWhisperGray);
    .str-chat__textarea textarea {
      padding: toRem(20) toRem(58) toRem(20) toRem(24);
    }
  }
}

.messaging {
  &.str-chat {
    .str-chat {
      &__thread {
        overflow: hidden;
        background: var(--colorWhisperGray);
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0;

        &.str-chat__thread--full {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          background: var(--colorWhite);
          z-index: 1000;
          margin: 0;
          width: 100vw;
          max-width: 100%;
        }

        .str-chat__gallery {
          justify-content: flex-end;
          border-radius: 0;

          &-image,
          &-placeholder {
            width: 100px;
            height: 100px;
          }
        }
      }

      &__thread-list {
        padding: toRem(16) toRem(16) 0 toRem(16);

        > .str-chat__list {
          background: transparent;
          padding: 0;

          .str-chat__list--thread {
            padding: 0;
          }
        }
      }

      &__thread-header {
        background: var(--colorWhisperGray);
        min-height: toRem(106);
        border-bottom: toRem(1) solid var(--colorMischka);

        .str-chat__square-button {
          cursor: pointer;
        }
      }

      &__thread-start {
        @extend %smallBodyMedium;
        margin-top: toRem(24);
        color: var(--colorDolphin);
      }

      @media screen and (max-width: 960px) {
        &__thread {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          background: var(--colorWhite);
          z-index: 1000;
          margin: 0;
          width: 100vw;
          max-width: 100%;
        }
      }
    }
  }

  /** Quoted message preview in thread should not be squeezed to less than 100% for better readability */
  .str-chat__input-flat-quoted .quoted-message-preview-content {
    max-width: 100%;
  }
}

.team {
  &.str-chat {
    .str-chat {
      &__thread {
        background: var(--colorWhite);
      }

      @media screen and (max-width: 960px) {
        &__thread {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          background: var(--colorWhite);
          z-index: 1000;
          margin: 0;
          width: 100vw;
          max-width: 100%;
        }
      }

      &__thread-header {
        height: 80px;
        background: var(--colorAthensGrey);
      }
    }
  }
}

.livestream.str-chat,
.str-chat {
  .str-chat__thread {
    background: var(--colorWhisperGray);

    &--full {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background: var(--colorWhite);
      z-index: 1000;
      margin: 0;
      width: 100vw;
      max-width: 100%;
    }

    &-header {
      background: var(--colorGrey);
    }
  }

  .str-chat__list--thread {
    padding: 0 toRem(4);
  }
}
