@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: end;
  min-height: toRem(44);
  padding: toRem(32);
}

.title {
  @extend %header;
  color: var(--colorWaterloo);
}
