@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.cropPreview {
  background: var(--colorSteelGrey);
  display: grid;
  justify-content: center;
  position: relative;

  .clearImageButton {
    position: absolute;
    top: toRem(8);
    right: toRem(8);
    background-color: var(--colorWhisperGray);
    border-radius: 50%;
  }
}
