@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.button {
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--colorTransitionDuration) ease;
}

.primary {
  path {
    fill: var(--colorMandy);
  }

  &:hover {
    background: var(--colorVanillaIce);
  }

  &:disabled {
    path {
      fill: var(--colorVanillaIce);
    }
  }
}

.secondary {
  path {
    fill: var(--colorSteelGrey);
  }

  &:hover {
    background: var(--colorMischka);
  }

  &:disabled {
    path {
      fill: var(--colorDisabled);
    }
  }
}

.filled {
  background: var(--colorMandy);

  path {
    fill: var(--colorWhite);
  }

  &:hover {
    background: var(--colorBrickRed);
  }

  &:disabled {
    background: var(--colorVanillaIce);

    path {
      fill: var(--colorVanillaIce);
    }
  }
}

.subtle {
  path {
    fill: var(--colorWaterloo);
  }

  &:hover {
    background: var(--colorMischka);
  }

  &:disabled {
    path {
      fill: var(--colorDisabled);
    }
  }
}
