@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.container {
  background: var(--colorWildSand);
  border-radius: toRem(34);
  padding: toRem(32) toRem(28);
}

.bioIntro {
  @extend %smallBodyMedium;
  color: var(--colorDolphin);
  margin-bottom: toRem(4);
}

.bioText {
  @extend %bodyMedium;
  color: var(--colorSteelGrey);
}
