@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.container {
  min-height: toRem(56);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
