@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

$mobileHeight: toRem(102);
$participantPanelWidth: toRem(280);
$backgroundSelectorWidth: toRem(320);
$mobileParticipantSize: toRem(108);

.container {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: calc(100% - #{$mobileParticipantSize}) $mobileParticipantSize;
  grid-template-columns: 100%;

  @media (min-width: $widthDesktop) {
    height: calc(100vh - #{toRem(72)});
    grid-template-rows: 100%;
    grid-template-columns: 1fr $participantPanelWidth;
  }
}

.rightDrawerOpen {
  grid-template-columns: 1fr $participantPanelWidth $backgroundSelectorWidth;
}
