@import "styles/functions";
@import "styles/variables";
@import "styles/typography";

.container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: start;
  grid-gap: toRem(24);
}

.link {
  @extend %smallLabel;
  @extend %truncate;
  color: var(--colorWaterloo);
  text-decoration: underline;
}

.socialButtons {
  margin-left: -#{toRem(9)};
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-gap: toRem(2);
}

.socialButton {
  display: grid;
  align-items: center;
  justify-content: center;
  width: toRem(34);
  height: toRem(34);
}
